/SecretGallery.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/SecretGallery.xcodeproj/project.xcworkspace/xcuserdata/natallia.xcuserdatad/UserInterfaceState.xcuserstate
/SecretGallery.xcodeproj/xcshareddata/xcschemes/SecretGallery.xcscheme
/SecretGallery.xcodeproj/xcuserdata/natallia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/SecretGallery.xcodeproj/xcuserdata/natallia.xcuserdatad/xcschemes/xcschememanagement.plist
/SecretGallery.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/SecretGallery.xcworkspace/xcuserdata/natallia.xcuserdatad/UserInterfaceState.xcuserstate
/SecretGallery.xcworkspace/xcuserdata/natallia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Pods
